<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          私は現職でエンジニア兼テクニカルアーティストをしている太田悠介です。大学・大学院で6年間情報学を学んだ後、大手Sierにて
          セキュリティコンサルタントに従事し、現在は有名ゲーム会社でエンジニア兼テクニカルアーティストとして働いています。
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          PythonやC#を用いたシステム開発、Maya・MotionBuilder・Photoshop等のDCCツールのカスタムツール開発、
          ゲーム・映像制作デザイナーのワークフロー整備や業務効率化をメインで行っています。他にも、Unityのエディタ拡張を行ったり、
          サーバーやLinux周りに関しても多くはないですが経験があります。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          I am Yusuke Ota, currently working as an engineer and technical artist. After studying information science 
          for six years at university and master's program, I worked as a security consultant at a major SIer. 
          I am now employed at a well-known game company as an engineer and technical artist.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          I am involved in system development using Python and C#, custom tool development for DCC tools such as Maya, 
          MotionBuilder, and Photoshop, and streamlining workflows and improving efficiency for game and video production designers. 
          In addition, I have some experience with Unity editor extensions as well as working with servers and Linux environments.
        </p>
      </div>
    </div>
  </div>
</section>
