<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Me</h2>
        <hr class="star-primary">
      </div>
    </div>
    <!-- 問い合わせるためのGoogleフォームへのリンク -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>ご質問やお問い合わせは、以下のリンクからGoogleフォームにてお送りください。</p>
        <p>Please send your questions or inquiries via the Google Form linked below.</p>
        <a href="https://forms.gle/BxMMaGowJhTTozCFA" class="btn btn-primary btn-lg">お問い合わせフォーム</a>
      </div>
  </div>
</section>
